
<div class="container">
	<p><b>Aggregate Statistics:</b></p>
	<ul class="list-group">
		<li class="list-group-item">Confirmed Cases<span class="badge badge-warning" style="float: right"><%= latest.confirmed %></span></li>
		<li class="list-group-item">Deaths<span class="badge badge-danger" style="float: right"><%= latest.deaths %></span></li>
		<li class="list-group-item">Recovered<span class="badge badge-success" style="float: right"><%= latest.recovered %></span></li>
	</ul>
</div>

<div style="padding-top: 2%">
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Population</th>
					<th>Confirmed cases</th>
					<th>Deaths</th>
					<th>Recovered</th>
				</tr>
			</thead>
			<tbody>
				<%locations.forEach(function(current) {%>
					<tr>
						<td><%= current.country %></td>
						<td><%= current.country_population %></td>
						<td><%= current.latest.confirmed %></td>
						<td><%= current.latest.deaths %></td>
						<td><%= current.latest.recovered %></td>
					</tr>
				<% }); %>
			</tbody>
		</table>
	</div>
</div>